[submodule "vendor/andrewsville/php-token-reflection"]
	path = vendor/andrewsville/php-token-reflection
	url = https://github.com/Andrewsville/PHP-Token-Reflection.git
[submodule "vendor/doctrine/common"]
	path = vendor/doctrine/common
	url = https://github.com/doctrine/common.git
