language: php

php:
  - 5.6
  - 7.0
  - hhvm

before_script:
  - composer install

script:
  - phpunit --verbose --coverage-text --coverage-clover=clover.xml --colors

after_script:
  - sh .travis.coverage.sh

matrix:
  allow_failures:
    - php: hhvm
