language: php

php:
  - 7.2
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer install

script:
  - vendor/bin/phpunit --verbose --coverage-text --coverage-clover=clover.xml --colors

after_script:
  - sh .travis.coverage.sh
