<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd" colors="true" bootstrap="./vendor/autoload.php" cacheDirectory=".phpunit.cache" failOnWarning="true" failOnNotice="true" failOnDeprecation="true" failOnPhpunitDeprecation="true" failOnRisky="true" beStrictAboutOutputDuringTests="true">
  <testsuites>
    <testsuite name="Go! AOP Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <!--
        Timing-based checks of the joinpoint hot path, excluded from the default run.
        Run `composer test:performance` before and after every change of __invoke()/proceed() in
        src/Aop/Framework (ClassFieldAccess, DynamicTraitAliasMethodInvocation, StaticTraitAliasMethodInvocation,
        ReflectionFunctionInvocation, ReflectionConstructorInvocation) and keep the ratios from growing.
      -->
      <group>performance</group>
      <!--
        Timing-based checks of the source transformation, excluded from the default run.
        Run `composer test:performance:transformation` before and after every change of a SourceTransformer, a
        NodeRewriter or their wiring (AspectKernel, FrameworkServices, SourceTransformingLoader) and keep the
        ratios from growing.
      -->
      <group>transformation-performance</group>
    </exclude>
  </groups>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
  </source>
</phpunit>
